mixin twitter(url, text, related)
	a.twitter-share-button(href="https://twitter.com/share", data-url=url, date-text=text, data-related=related) ツイート

- const getPublishText = (song) => `${song.display_id} ${song.title} - Xeltica Musica`;

mixin twiShare(song)
	+twitter("https://musica.citringo.net/song/" + song.display_id, getPublishText(song))

mixin song(song)
	.ui.item
		.ui.content
			a(href="/song/" + song.display_id).header= song.title
			.meta: span= song.display_id
			.description= song.description
			.extra
				.ui.horizontal.list
				
	.ui.divider
doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
		title= title
		meta(name="description", content=description)
		link(rel='stylesheet', type='text/css' href='/semantic.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.ui.menu
			.header.item: a(href="/") Xeltica Musica (β)
			a(href="/about").item 挨拶
			a(href="//citringo.net").item X.Garage
			.item.ui.search.focus#searchbar_pc
				.ui.left.icon.input
					input.prompt(type="text" name="keyword" placeholder="検索")
					i.search.link.icon
		.ui.search.focus#searchbar_mobile
			.ui.left.icon.input
				input.prompt(type="text" name="keyword" placeholder="検索")
				i.search.link.icon
		
		block content
		footer.ui.black.inverted.vertical.segment
			.ui.center.aligned.container
				p.inverted (C)2018 Xeltica Musica All rights reserved.
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(src='/semantic.min.js')
		script(src="/javascripts/search.js")
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		block script

