extends layout

block content
	.relaxed.ui.stackable.grid.container
		.row
			.twelve.wide.column
				main
					.ui.vertical.segment
						h1.ui.header= song.title
							.sub.header= song.display_id
						audio(src=url + song.display_id + ".mp3", controls, autoplay, style="width: 100%")
					.ui.vertical.segment
						.ui.stackable.grid.container
							.row
								.eight.wide.column
									p= song.description
									.ui.list
										.item
											i.user.icon
											.content
												.header 依頼者
												.description= song.client
										.item
											i.book.icon
											.content
												.header 元ネタ
												.description= song.source ? song.source : "オリジナル曲"
								.eight.wide.column
									.xm.comments
										h3.ui.header コメント機能は未実装です
											.sub.header アップデートをお待ちください

			.four.wide.column
				h2.ui.header 他の曲
					.ui.form
						.grouped.fields
							.field
								.ui.radio.checkbox.checked#diffchk
									input(type="radio" name="r")
									label 同曲の別バージョン
							.field
								.ui.radio.checkbox#allchk
									input(type="radio" name="r")
									label 近い番号の曲

				.ui.grid
					.sixteen.wide.column#diff
						if (relatives && relatives.length > 0)
							.ui.items
								each val in relatives
									+song(val)
						else
							p 関連楽曲はありません
					.sixteen.wide.column#all(style="display:none")
						if (all && all.length > 0)
							.ui.items
								each val in all
									+song(val)
						else
							p 関連楽曲はありません

block script
	script(src="/javascripts/song.js")